<header class="masthead">
    <div class="container h-100">
      <div  class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <div class="transparent">
                    <img class="img-fluid" src="../../../assets/img/logo.png">
                    <p> Învață să te protejezi de posibilele pericole ale internetului</p>
                    <button  type="button" class="btn btn-primary">Incepe acum!</button>
            </div>
    
        </div>
      </div>
    </div>
  </header>