<body class="valign-wrapper">
  <div class="container">

    <div>

            <h1>Despre intentii</h1>
            <hr>
            <p>Internetul a fost creat de oameni; cum nu toti oamenii din viata de zi cu zi au intentii bune, nici persoanele cu care interactionezi pe internet nu sunt neaparat de incredere.</p>
            <p>"Fii atent pe internet!" isi propune sa te invete cum sa te protejezi de persoanele cu intentii rele, care pot incerca sa te pacaleasca.</p>

            <div>
              <p>Site-ul poate fi controlat cu ajutorul vocii - spune doar ceea ce vrei sa faci!</p>
              <button type="button" class="btn btn-primary" >Incepe</button>

            </div>

    </div>
        


</div>



</body>

